* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f0eb;
}

/* NAVBAR */

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 100;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: cursive;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* StartingPage */

.StartingPage {
    height: 100vh;

    background:
        linear-gradient(rgba(0, 0, 0, .3),
            rgba(0, 0, 0, .3)),
        url("Pictures/bgimage.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.StartingPage h1 {
    color: white;
    font-size: 5rem;
    text-shadow: 3px 3px 10px black;
}

.StartingPage p {
    color: white;
    font-size: 1.8rem;
    margin: 20px 0;
}

.StartingPage button {
    padding: 15px 50px;
    border: none;
    background: #0c5fb8;
    color: white;
    font-size: 1.3rem;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s ease;
}

.StartingPage button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* SECTIONS */

.section {
    width: 90%;
    margin: 80px auto;
}

.section h2 {
    text-align: center;
    color: #15385f;
    font-size: 3rem;
    margin-bottom: 40px;
}

/* CARDS */

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    background: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s ease;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.content {
    padding: 20px;
}

.content h3 {
    color: #173f67;
    font-size: 2rem;
}

.content p {
    margin: 10px 0;
}

.content button {
    background: #0c5fb8;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 5px;
}

.content button:hover {
    background: #083b69;
}

/* AUTHORS */

.author-card {
    width: 320px;
    background: white;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s ease;
}

.author-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.author-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.author-card h3 {
    margin-top: 15px;
    color: #15385f;
}

.author-card p {
    margin: 10px 0 20px;
}

/* FOOTER */

footer {
    background: url(Pictures/footer.jpg);
    color: white;
    padding: 40px 50px 30px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.newsletter {
    margin-bottom: 40px;
}

.newsletter form {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.newsletter input {
    width: 350px;
    padding: 12px;
}

.newsletter button {
    background: #f47c2b;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 5px;
}

.newsletter button:hover {
    background: #c05f1e;
}

.footer-social{
    margin-left:auto;
    text-align:right;
}

.footer-social h3{
    margin: 5px;
    padding: 10px;
}

.footer-social i{
    font-size:2rem;
    margin-left:15px;
}

.copyright {
    text-align: center;
    margin-top: 30px;
}